/* styles.css */

body {
  color: black;
  background-color: white;
  font-family: "Courier New", monospace;
}

li {
  color: orangered;
}

a {
  color: red;
}

img {
  width: 200px;
  height: auto;
}